<h1 class="page-header">Tenants Management</h1>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tenants">Tenants</a></li>
    <li><a data-toggle="tab" href="#users">Users</a></li>
</ul>

<div class="tab-content">
    <div id="tenants" class="tab-pane fade in active">
        <h3>Tenants</h3>
        <table class="table table-hover table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            <tr class="active">
                <td>Roche</td>
                <td>tenant@roche.ch</td>
                <td>Active</td>
            </tr>
            <tr class="active">
                <td>Novartis</td>
                <td>tenant@novartis.ch</td>
                <td>Active</td>
            </tr>    
        </table>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">New Tenant</button>
        </div>
    </div>
    <div id="users" class="tab-pane fade">
        <h3>Users</h3>
        <table class="table table-hover table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            <tr class="active">
                <td>Mark Regenass</td>
                <td>mark.regenass@roche.ch</td>
                <td>Active</td>
            </tr>
            <tr class="active">
                <td>Benjamin Rosenberg</td>
                <td>benjami @novartis.ch</td>
                <td>Active</td>
            </tr>    
        </table>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">New User</button>
        </div>
    </div>
</div>
